In [57]:
import numpy as np
import pandas as pd 

df = pd.read_csv("number-of-households-canada-csv.csv", encoding="latin-1", header=None)

In [58]:
df= df.iloc[2:]

In [59]:
df.columns = df.iloc[0]

In [65]:
df= df.iloc[:,:3]
df.head()

2                   NaN  Year  High growth
2                   NaN  Year  High growth
3  Historical estimates  1976         7311
4                   NaN  1981         8440
5                   NaN  1986         9261
6                   NaN  1991        10274