In [93]:
import pandas as pd 
# read csv file
df = pd.read_csv('number-of-households-canada-csv.csv', encoding='latin1',header=2)
df

,Unnamed: 0,Year,High growth,Medium growth 1,Medium growth 2,Medium growth 3,Medium growth 4,Medium growth 5,Low growth
0,Historical estimates,1976.0,7311.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1981.0,8440.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1986.0,9261.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1991.0,10274.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1996.0,11111.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,2001.0,11928.0,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2006.0,12783.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,2011.0,13646.0,NaN,NaN,NaN,NaN,NaN,NaN
8,High,2016.0,14901.0,14852.0,14852.0,14852.0,14852.0,14852.0,14776.0
9,NaN,2021.0,16110.0,15894.0,15894.0,15895.0,15895.0,15894.0,15631.0
10,NaN,2026.0,17371.0,16839.0,16839.0,16840.0,16840.0,16838.0,16307.0
11,NaN,2031.0,17315.0,17735.0,17734.0,17736.0,17737.0,17732.0,16879.0
12,NaN,2036.0,18513.0,18600.0,18598.0,18602.0,18604.0,18595.0,17362.0
13,Medium,2016.0,14652.0,14603.0,14603.0,14603.0,14603.0,14603.0,14529.0
14,NaN,2021.0,15666.0,15457.0,15456.0,15457.0,15457.0,15456.0,15201.0
15,NaN,2026.0,16693.0,16236.0,16235.0,16237.0,16237.0,16235.0,15725.0
16,NaN,2031.0,17731.0,16988.0,16987.0,16989.0,16990.0,16985.0,16170.0
17,NaN,2036.0,18791.0,17712.0,17710.0,17714.0,17716.0,17707.0,16536.0
18,Low,2016.0,14456.0,14409.0,14409.0,14409.0,14409.0,14409.0,14335.0
19,NaN,2021.0,15308.0,15105.0,15104.0,15105.0,15105.0,15104.0,14856.0
20,NaN,2026.0,16184.0,15742.0,15742.0,15743.0,15744.0,15741.0,15249.0
21,NaN,2031.0,17086.0,16372.0,16372.0,16374.0,16375.0,16370.0,15587.0
22,NaN,2036.0,18007.0,16976.0,16974.0,16978.0,16980.0,16971.0,15852.0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Source: CMHC (projections) and adapted from St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Last Updated: October, 2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,© 2016 Canada Mortgage and Housing Corporation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# Remove all unnecessary rows
df = pd.concat([df.iloc[:8], df.iloc[13:18]]).reset_index(drop=True)
df

,Unnamed: 0,Year,High growth,Medium growth 1,Medium growth 2,Medium growth 3,Medium growth 4,Medium growth 5,Low growth
0,Historical estimates,1976.0,7311.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1981.0,8440.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1986.0,9261.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1991.0,10274.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1996.0,11111.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,2001.0,11928.0,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2006.0,12783.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,2011.0,13646.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Medium,2016.0,14652.0,14603.0,14603.0,14603.0,14603.0,14603.0,14529.0
9,NaN,2021.0,15666.0,15457.0,15456.0,15457.0,15457.0,15456.0,15201.0
10,NaN,2026.0,16693.0,16236.0,16235.0,16237.0,16237.0,16235.0,15725.0
11,NaN,2031.0,17731.0,16988.0,16987.0,16989.0,16990.0,16985.0,16170.0
12,NaN,2036.0,18791.0,17712.0,17710.0,17714.0,17716.0,17707.0,16536.0

In [95]:
# Keep only relevant columns
df = df.iloc[:, [1, 2]]
df

      Year  High growth
0   1976.0       7311.0
1   1981.0       8440.0
2   1986.0       9261.0
3   1991.0      10274.0
4   1996.0      11111.0
5   2001.0      11928.0
6   2006.0      12783.0
7   2011.0      13646.0
8   2016.0      14652.0
9   2021.0      15666.0
10  2026.0      16693.0
11  2031.0      17731.0
12  2036.0      18791.0

In [96]:
# convert columns to type nmuber and ensure it's integer
df.loc[:, 'Year'] = pd.to_numeric(df['Year'], errors='coerce')

# setting the year column as index
df.set_index('Year', inplace=True)
df

        High growth
Year
1976.0       7311.0
1981.0       8440.0
1986.0       9261.0
1991.0      10274.0
1996.0      11111.0
2001.0      11928.0
2006.0      12783.0
2011.0      13646.0
2016.0      14652.0
2021.0      15666.0
2026.0      16693.0
2031.0      17731.0
2036.0      18791.0

In [97]:
# create rows for missing years
df = df.reindex(range(int(df.index.min()), 2037))
df

      High growth
Year
1976       7311.0
1977          NaN
1978          NaN
1979          NaN
1980          NaN
...           ...
2032          NaN
2033          NaN
2034          NaN
2035          NaN
2036      18791.0

[61 rows x 1 columns]

In [98]:
# converting the growth column to numeric for interpolation
df['High growth'] = pd.to_numeric(df['High growth'], errors='coerce')
# check type
df.dtypes

High growth    float64
dtype: object

In [99]:
# interpolating the value for the missing years
df['High growth'] = df['High growth'].interpolate(method='linear').round()
df

      High growth
Year
1976       7311.0
1977       7537.0
1978       7763.0
1979       7988.0
1980       8214.0
...           ...
2032      17943.0
2033      18155.0
2034      18367.0
2035      18579.0
2036      18791.0

[61 rows x 1 columns]

In [100]:
df['High growth'] = df['High growth'].fillna(0).astype(int)
df

      High growth
Year
1976         7311
1977         7537
1978         7763
1979         7988
1980         8214
...           ...
2032        17943
2033        18155
2034        18367
2035        18579
2036        18791

[61 rows x 1 columns]

In [101]:
df

      High growth
Year
1976         7311
1977         7537
1978         7763
1979         7988
1980         8214
...           ...
2032        17943
2033        18155
2034        18367
2035        18579
2036        18791

[61 rows x 1 columns]

In [102]:
df = df.reset_index()
df =df.rename(columns={'High growth': 'M_Number_of_Households'})
df

    Year  M_Number_of_Households
0   1976                    7311
1   1977                    7537
2   1978                    7763
3   1979                    7988
4   1980                    8214
..   ...                     ...
56  2032                   17943
57  2033                   18155
58  2034                   18367
59  2035                   18579
60  2036                   18791

[61 rows x 2 columns]

In [103]:
# write to csv
df.to_csv("number-of-households-canada-csv_interpolated.csv")