In [29]:
import pandas as pd

In [30]:
file_path = "HousingStarted_Raw.csv"
df = pd.read_csv(file_path)

In [31]:
df.head()

,REF_DATE,GEO,DGUID,Housing estimates,Type of unit,Seasonal adjustment,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1948-01,Canada,2016A000011124,Housing starts,Total units,Unadjusted,Units,300,units,0,v730416,1.1.1.1,6678.0,NaN,NaN,NaN,0
1,1948-01,Canada,2016A000011124,Housing under construction,Total units,Unadjusted,Units,300,units,0,v731381,1.2.1.1,37529.0,NaN,NaN,NaN,0
2,1948-01,Canada,2016A000011124,Housing completions,Total units,Unadjusted,Units,300,units,0,v732318,1.3.1.1,11569.0,NaN,NaN,NaN,0
3,1948-01,Prince Edward Island,2016A000211,Housing starts,Total units,Unadjusted,Units,300,units,0,v730419,4.1.1.1,0.0,NaN,NaN,NaN,0
4,1948-01,Prince Edward Island,2016A000211,Housing under construction,Total units,Unadjusted,Units,300,units,0,v731384,4.2.1.1,173.0,NaN,NaN,NaN,0

In [32]:
# List of columns to remove
columns_to_remove = [
    "DGUID", "Seasonal adjustment", "UOM", "UOM_ID", 
    "SCALAR_FACTOR", "SCALAR_ID", "VECTOR", "COORDINATE", "STATUS", 
    "SYMBOL", "TERMINATED", "DECIMALS"
]

# Drop the specified columns
df.drop(columns=columns_to_remove, inplace=True, errors='ignore')

In [33]:
df.head()

,REF_DATE,GEO,Housing estimates,Type of unit,VALUE
0,1948-01,Canada,Housing starts,Total units,6678.0
1,1948-01,Canada,Housing under construction,Total units,37529.0
2,1948-01,Canada,Housing completions,Total units,11569.0
3,1948-01,Prince Edward Island,Housing starts,Total units,0.0
4,1948-01,Prince Edward Island,Housing under construction,Total units,173.0

In [34]:
#Filtering only total units data
df_filtered = df[df["Type of unit"] == "Total units"].drop(columns=["Type of unit"])

In [35]:
df_filtered.head()

  REF_DATE                   GEO           Housing estimates    VALUE
0  1948-01                Canada              Housing starts   6678.0
1  1948-01                Canada  Housing under construction  37529.0
2  1948-01                Canada         Housing completions  11569.0
3  1948-01  Prince Edward Island              Housing starts      0.0
4  1948-01  Prince Edward Island  Housing under construction    173.0

In [36]:
# Adding index column
df_filtered.insert(0, 'Index', range(1, len(df_filtered) + 1))

In [37]:
df_filtered.head()

   Index REF_DATE                   GEO           Housing estimates    VALUE
0      1  1948-01                Canada              Housing starts   6678.0
1      2  1948-01                Canada  Housing under construction  37529.0
2      3  1948-01                Canada         Housing completions  11569.0
3      4  1948-01  Prince Edward Island              Housing starts      0.0
4      5  1948-01  Prince Edward Island  Housing under construction    173.0

In [46]:
#pivoting the Housing estimates column
df_pivot = df_filtered.pivot(index=['REF_DATE', 'GEO', 'Index'], columns="Housing estimates", values='VALUE').reset_index()

In [53]:
df_pivot

Housing estimates,REF_DATE,GEO,Index,Housing completions,Housing starts,Housing under construction
0,1948-01,Alberta,25,NaN,250.0,NaN
1,1948-01,Alberta,26,NaN,NaN,1855.0
2,1948-01,Alberta,27,855.0,NaN,NaN
3,1948-01,British Columbia,28,NaN,2121.0,NaN
4,1948-01,British Columbia,29,NaN,NaN,6628.0
...,...,...,...,...,...,...
12255,2024-10,Nova Scotia,12253,NaN,1437.0,NaN
12256,2024-10,Ontario,12256,NaN,16287.0,NaN
12257,2024-10,Prince Edward Island,12252,NaN,357.0,NaN
12258,2024-10,Quebec,12255,NaN,15814.0,NaN
12259,2024-10,Saskatchewan,12258,NaN,1184.0,NaN

In [48]:
df_pivot = df_filtered.pivot(index=['REF_DATE', 'GEO'], columns="Housing estimates", values='VALUE').reset_index()

ValueError: Index contains duplicate entries, cannot reshape

In [45]:
df_pivot.drop(columns=["Index"])

Housing estimates,REF_DATE,GEO,Housing completions,Housing starts,Housing under construction
0,1948-01,Alberta,NaN,250.0,NaN
1,1948-01,Alberta,NaN,NaN,1855.0
2,1948-01,Alberta,855.0,NaN,NaN
3,1948-01,British Columbia,NaN,2121.0,NaN
4,1948-01,British Columbia,NaN,NaN,6628.0
...,...,...,...,...,...
12255,2024-10,Nova Scotia,NaN,1437.0,NaN
12256,2024-10,Ontario,NaN,16287.0,NaN
12257,2024-10,Prince Edward Island,NaN,357.0,NaN
12258,2024-10,Quebec,NaN,15814.0,NaN
12259,2024-10,Saskatchewan,NaN,1184.0,NaN

In [17]:
# Keep only specified values in the 'GEO' column
valid_geo_values = ["Canada", "Quebec", "Ontario", "British Columbia", "Alberta", "Manitoba", "New Brunswick", "Newfoundland and Labrador", "Nova Scotia", "Saskatchewan", "Prince Edward Island"]
df_pivot = df_pivot[df_pivot["GEO"].isin(valid_geo_values)]

In [41]:
df_pivot.head()

Housing estimates,REF_DATE,GEO,Index,Housing completions,Housing starts,Housing under construction
0,1948-01,Alberta,25,NaN,250.0,NaN
1,1948-01,Alberta,26,NaN,NaN,1855.0
2,1948-01,Alberta,27,855.0,NaN,NaN
3,1948-01,British Columbia,28,NaN,2121.0,NaN
4,1948-01,British Columbia,29,NaN,NaN,6628.0

In [55]:
# Ensure REF_DATE is in datetime format
df_pivot['REF_DATE'] = pd.to_datetime(df_pivot['REF_DATE'])

In [56]:
df_pivot.head()

Housing estimates,REF_DATE,GEO,Index,Housing completions,Housing starts,Housing under construction
0,1948-01-01,Alberta,25,NaN,250.0,NaN
1,1948-01-01,Alberta,26,NaN,NaN,1855.0
2,1948-01-01,Alberta,27,855.0,NaN,NaN
3,1948-01-01,British Columbia,28,NaN,2121.0,NaN
4,1948-01-01,British Columbia,29,NaN,NaN,6628.0

In [57]:
# Filter out rows where REF_DATE is between 1948 and 1976
df_pivot = df_pivot[(df_pivot['REF_DATE'].dt.year > 1976)]

In [58]:
df_pivot.head()

Housing estimates,REF_DATE,GEO,Index,Housing completions,Housing starts,Housing under construction
4384,1977-01-01,Alberta,4423,NaN,4511.0,NaN
4385,1977-01-01,Alberta,4424,NaN,25.1,NaN
4386,1977-01-01,Alberta,4425,NaN,NaN,25880.0
4387,1977-01-01,Alberta,4426,7439.0,NaN,NaN
4388,1977-01-01,Atlantic provinces,4389,NaN,12.5,NaN

In [14]:
# Create a complete range of months for each GEO location
all_dates = pd.date_range(start=df_pivot["REF_DATE"].min(), end=df_pivot["REF_DATE"].max(), freq='MS')  # MS = Month Start

In [26]:
# Create a MultiIndex with GEO and complete dates
geo_list = df_pivot["GEO"].unique()
multi_index = pd.MultiIndex.from_product([all_dates, geo_list], names=["REF_DATE", "GEO"])

In [27]:
# Reindex the DataFrame to include missing months
df_pivot = df_pivot.set_index(["REF_DATE", "GEO"]).reindex(multi_index).reset_index()

ValueError: cannot handle a non-unique multi-index!

In [ ]:
df_pivot.to_csv("HousingStarted_Manipulated.csv", index=False)