In [25]:
import pandas as pd
import numpy as np

In [26]:
#reading in all main three datasets
Housing_Started= pd.read_csv("Housing_Started_Manipulated.csv")
NHPI_Manipulated= pd.read_csv("NHPI_Manipulated.csv")
Number_of_Houses= pd.read_csv("Number_of_Household.csv")

In [27]:
#investigating the size of each dataset to get the right order of left joins
print(NHPI_Manipulated.shape)
print(Number_of_Houses.shape)
print(Housing_Started.shape)

(5819, 5)
(7310, 3)
(6314, 5)

In [39]:
print(NHPI_Manipulated.info())
print(Number_of_Houses.info())
print(Housing_Started.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819 entries, 0 to 5818
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   REF_DATE                     5819 non-null   object
 1   GEO                          5819 non-null   object
 2   House only NHPI              5111 non-null   float64
 3   Land only NHPI               5111 non-null   float64
 4   Total (house and land) NHPI  5111 non-null   float64
dtypes: float64(3), object(2)
memory usage: 227.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310 entries, 0 to 7309
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   REF_DATE              7310 non-null   object
 1   GEO                   7310 non-null   object
 2   Number_of_Households  7310 non-null   int64
dtypes: int64(1), object(2)
memory usage: 171.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6314 entries, 0 to 6313
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   REF_DATE                    6314 non-null   object
 1   GEO                         6314 non-null   object
 2   Housing completions         6314 non-null   float64
 3   Housing starts              6314 non-null   float64
 4   Housing under construction  6314 non-null   float64
dtypes: float64(3), object(2)
memory usage: 246.8+ KB
None

Number of Houses has the most rows, so we will join it first

In [29]:
df_merged = Number_of_Houses.merge(Housing_Started, on=['REF_DATE', 'GEO'], how='left')

In [30]:
df_merged.shape
# first join is successful, now we will join the NHPI_Manipulated dataset

(7310, 6)

In [45]:
df_merged.loc[df_merged['REF_DATE'] == '1977-01-01', :]

,REF_DATE,GEO,Number_of_Households,Housing completions,Housing starts,Housing under construction
120,1977-01-01,Alberta,624,18211.0,11477.1,70186.0
121,1977-01-01,British Columbia,886,20198.0,16169.0,49689.0
122,1977-01-01,Manitoba,338,4214.0,5559.1,16727.0
123,1977-01-01,New Brunswick,199,3649.0,483.9,6120.0
124,1977-01-01,Newfoundland and Labrador,137,3923.0,693.8,7584.0
125,1977-01-01,Nova Scotia,251,4814.0,1628.5,14133.0
126,1977-01-01,Ontario,2752,44344.0,25932.9,198479.0
127,1977-01-01,Prince Edward Island,34,198.0,72.2,263.0
128,1977-01-01,Quebec,1996,26776.0,26460.3,109387.0
129,1977-01-01,Saskatchewan,303,7476.0,4356.6,20062.0

In [31]:
df_merged_final = df_merged.merge(NHPI_Manipulated, on=['REF_DATE', 'GEO'], how='left')

In [33]:
df_merged_final.shape

(7310, 9)

In [ ]:
# Making sure all data are there

In [ ]:
df_merged_final.loc[df_merged_final['REF_DATE'] == '1986-01-01', :]

,REF_DATE,GEO,Number_of_Households,Housing completions,Housing starts,Housing under construction,House only NHPI,Land only NHPI,Total (house and land) NHPI
1200,1986-01-01,Alberta,859,4130.0,3778.1,7477.0,28.0,22.5,26.4
1201,1986-01-01,British Columbia,1132,9185.0,11098.4,23454.0,79.5,49.2,66.3
1202,1986-01-01,Manitoba,392,3327.0,4076.4,10631.0,37.7,26.9,34.7
1203,1986-01-01,New Brunswick,237,2190.0,749.3,3453.0,75.1,56.1,70.5
1204,1986-01-01,Newfoundland and Labrador,161,1145.0,507.7,6337.0,39.4,35.3,38.7
1205,1986-01-01,Nova Scotia,301,4263.0,2912.0,7478.0,50.2,51.1,50.7
1206,1986-01-01,Ontario,3329,29410.0,23776.9,85761.0,33.0,44.3,36.7
1207,1986-01-01,Prince Edward Island,41,559.0,309.1,672.0,NaN,NaN,NaN
1208,1986-01-01,Quebec,2421,19363.0,22534.8,61534.0,40.3,32.9,38.5
1209,1986-01-01,Saskatchewan,365,4026.0,2011.0,5020.0,29.9,29.5,29.9