In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading in all main three datasets
Housing_Started= pd.read_csv("Housing_Started_Manipulated.csv")
NHPI_Manipulated= pd.read_csv("NHPI_Manipulated.csv")
Number_of_Houses= pd.read_csv("Number_of_Household.csv")

In [3]:
#investigating the size of each dataset to get the right order of left joins
print(NHPI_Manipulated.shape)
print(Number_of_Houses.shape)
print(Housing_Started.shape)

(5819, 5)
(6570, 3)
(6314, 5)

In [4]:
print(NHPI_Manipulated.info())
print(Number_of_Houses.info())
print(Housing_Started.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819 entries, 0 to 5818
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   REF_DATE                     5819 non-null   object
 1   GEO                          5819 non-null   object
 2   House only NHPI              5111 non-null   float64
 3   Land only NHPI               5111 non-null   float64
 4   Total (house and land) NHPI  5111 non-null   float64
dtypes: float64(3), object(2)
memory usage: 227.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6570 entries, 0 to 6569
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   REF_DATE              6570 non-null   object
 1   GEO                   6570 non-null   object
 2   Number_of_Households  6570 non-null   int64
dtypes: int64(1), object(2)
memory usage: 154.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6314 entries, 0 to 6313
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   REF_DATE                    6314 non-null   object
 1   GEO                         6314 non-null   object
 2   Housing completions         6314 non-null   float64
 3   Housing starts              6314 non-null   float64
 4   Housing under construction  6314 non-null   float64
dtypes: float64(3), object(2)
memory usage: 246.8+ KB
None

Number of Houses has the most rows, so we will join it first

In [5]:
df_merged = Number_of_Houses.merge(Housing_Started, on=['REF_DATE', 'GEO'], how='left')

In [6]:
df_merged.shape
# first join is successful, now we will join the NHPI_Manipulated dataset

(6570, 6)

In [7]:
df_merged.loc[df_merged['REF_DATE'] == '1977-01-01', :]

,REF_DATE,GEO,Number_of_Households,Housing completions,Housing starts,Housing under construction
99,1977-01-01,Alberta,624,18211.0,11477.1,70186.0
100,1977-01-01,British Columbia,886,20198.0,16169.0,49689.0
101,1977-01-01,Manitoba,338,4214.0,5559.1,16727.0
102,1977-01-01,New Brunswick,199,3649.0,483.9,6120.0
103,1977-01-01,Newfoundland and Labrador,137,3923.0,693.8,7584.0
104,1977-01-01,Ontario,2752,44344.0,25932.9,198479.0
105,1977-01-01,Prince Edward Island,34,198.0,72.2,263.0
106,1977-01-01,Quebec,1996,26776.0,26460.3,109387.0
107,1977-01-01,Canada,7520,133803.0,93062.0,492630.0

In [8]:
df_merged_final = df_merged.merge(NHPI_Manipulated, on=['REF_DATE', 'GEO'], how='left')

In [9]:
df_merged_final.shape

(6570, 9)

In [10]:
# Making sure all data are there

In [11]:
df_merged_final.loc[df_merged_final['REF_DATE'] == '1986-01-01', :]

,REF_DATE,GEO,Number_of_Households,Housing completions,Housing starts,Housing under construction,House only NHPI,Land only NHPI,Total (house and land) NHPI
1071,1986-01-01,Alberta,859,4130.0,3778.1,7477.0,28.0,22.5,26.4
1072,1986-01-01,British Columbia,1132,9185.0,11098.4,23454.0,79.5,49.2,66.3
1073,1986-01-01,Manitoba,392,3327.0,4076.4,10631.0,37.7,26.9,34.7
1074,1986-01-01,New Brunswick,237,2190.0,749.3,3453.0,75.1,56.1,70.5
1075,1986-01-01,Newfoundland and Labrador,161,1145.0,507.7,6337.0,39.4,35.3,38.7
1076,1986-01-01,Ontario,3329,29410.0,23776.9,85761.0,33.0,44.3,36.7
1077,1986-01-01,Prince Edward Island,41,559.0,309.1,672.0,NaN,NaN,NaN
1078,1986-01-01,Quebec,2421,19363.0,22534.8,61534.0,40.3,32.9,38.5
1079,1986-01-01,Canada,9238,77598.0,71934.4,211817.0,39.4,38.8,39.8

In [12]:
df_merged_final.to_csv("merged_data.csv")