In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Changing Eleven census metropolitan areas composite to Canada, this is an assumption on our side

Reading in NHPI csv

In [52]:
NHPI = pd.read_csv('NHPI.csv')

In [ ]:
NHPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63480 entries, 0 to 63479
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   REF_DATE                   63480 non-null  object
 1   GEO                        63480 non-null  object
 2   DGUID                      61893 non-null  object
 3   New housing price indexes  63480 non-null  object
 4   UOM                        63480 non-null  object
 5   UOM_ID                     63480 non-null  int64
 6   SCALAR_FACTOR              63480 non-null  object
 7   SCALAR_ID                  63480 non-null  int64
 8   VECTOR                     63480 non-null  object
 9   COORDINATE                 63480 non-null  float64
 10  VALUE                      52654 non-null  float64
 11  STATUS                     28652 non-null  object
 12  SYMBOL                     0 non-null      float64
 13  TERMINATED                 0 non-null      float64
 14  DECIMALS                   63480 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 7.3+ MB

In [54]:
NHPI["REF_DATE"] = pd.to_datetime(NHPI["REF_DATE"], format="%b-%y")

In [55]:
df_2= NHPI[["REF_DATE","GEO","New housing price indexes","VALUE"]]

In [56]:
df_2.head()

    REF_DATE              GEO New housing price indexes  VALUE
0 1981-01-01           Canada    Total (house and land)   38.2
1 1981-01-01           Canada                House only   36.1
2 1981-01-01           Canada                 Land only   40.6
3 1981-01-01  Atlantic Region    Total (house and land)    NaN
4 1981-01-01  Atlantic Region                House only    NaN

In [57]:
df_2

        REF_DATE                          GEO New housing price indexes  VALUE
0     1981-01-01                       Canada    Total (house and land)   38.2
1     1981-01-01                       Canada                House only   36.1
2     1981-01-01                       Canada                 Land only   40.6
3     1981-01-01              Atlantic Region    Total (house and land)    NaN
4     1981-01-01              Atlantic Region                House only    NaN
...          ...                          ...                       ...    ...
63475 2025-01-01  Vancouver, British Columbia                House only  125.4
63476 2025-01-01  Vancouver, British Columbia                 Land only  123.8
63477 2025-01-01   Victoria, British Columbia    Total (house and land)  119.1
63478 2025-01-01   Victoria, British Columbia                House only  122.6
63479 2025-01-01   Victoria, British Columbia                 Land only  111.6

[63480 rows x 4 columns]

In [58]:
df_2= df_2.pivot(index=['REF_DATE', 'GEO'], columns="New housing price indexes", values='VALUE')

In [59]:
df_2.reset_index(inplace=True)

In [60]:
df_2.columns.name = None

In [61]:
df_2.rename(columns={'House only': 'House only NHPI', 'Land only': 'Land only NHPI', 'Total (house and land)': 'Total (house and land) NHPI'}, inplace=True)
# renaming each column to make sure we identify the NHPI later when merges happen

In [62]:
df_2.head(100)

,REF_DATE,GEO,House only NHPI,Land only NHPI,Total (house and land) NHPI
0,1981-01-01,Alberta,NaN,NaN,NaN
1,1981-01-01,Atlantic Region,NaN,NaN,NaN
2,1981-01-01,British Columbia,NaN,NaN,NaN
3,1981-01-01,"Calgary, Alberta",27.8,19.4,25.3
4,1981-01-01,Canada,36.1,40.6,38.2
...,...,...,...,...,...
95,1981-03-01,"Montréal, Quebec",30.5,21.0,29.0
96,1981-03-01,New Brunswick,NaN,NaN,NaN
97,1981-03-01,Newfoundland and Labrador,NaN,NaN,NaN
98,1981-03-01,Nova Scotia,NaN,NaN,NaN
99,1981-03-01,Ontario,NaN,NaN,NaN

In [63]:
df_2.shape

(21160, 5)