In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
Building_con_in = pd.read_csv('Building Construction price indexes.csv', encoding='ISO-8859-1')

# Display the first few rows of the dataset
Building_con_in.head()

,REF_DATE,GEO,DGUID,Type of building,Division,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,Jan-81,Eleven census metropolitan area composite,NaN,Non-residential buildings [622],Division composite,"Index, 2017=100",373,units,0,v1478309989,1.7.1,34.5,NaN,NaN,NaN,1
1,Jan-81,Eleven census metropolitan area composite,NaN,Commercial buildings [62212],Division composite,"Index, 2017=100",373,units,0,v1478312306,1.8.1,35.8,NaN,NaN,NaN,1
2,Jan-81,Eleven census metropolitan area composite,NaN,Office building,Division composite,"Index, 2017=100",373,units,0,v1478313171,1.9.1,36.8,NaN,NaN,NaN,1
3,Jan-81,Eleven census metropolitan area composite,NaN,Warehouse,Division composite,"Index, 2017=100",373,units,0,v1478310704,1.10.1,34.3,NaN,NaN,NaN,1
4,Jan-81,Eleven census metropolitan area composite,NaN,Shopping centre,Division composite,"Index, 2017=100",373,units,0,v1478312520,1.11.1,35.9,NaN,NaN,NaN,1