In [434]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
Building_con_in = pd.read_csv('Building Construction price indexes.csv', encoding='ISO-8859-1')

# Display the first few rows of the dataset
Building_con_in.head()

,REF_DATE,GEO,DGUID,Type of building,Division,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,Jan-81,Eleven census metropolitan area composite,NaN,Non-residential buildings [622],Division composite,"Index, 2017=100",373,units,0,v1478309989,1.7.1,34.5,NaN,NaN,NaN,1
1,Jan-81,Eleven census metropolitan area composite,NaN,Commercial buildings [62212],Division composite,"Index, 2017=100",373,units,0,v1478312306,1.8.1,35.8,NaN,NaN,NaN,1
2,Jan-81,Eleven census metropolitan area composite,NaN,Office building,Division composite,"Index, 2017=100",373,units,0,v1478313171,1.9.1,36.8,NaN,NaN,NaN,1
3,Jan-81,Eleven census metropolitan area composite,NaN,Warehouse,Division composite,"Index, 2017=100",373,units,0,v1478310704,1.10.1,34.3,NaN,NaN,NaN,1
4,Jan-81,Eleven census metropolitan area composite,NaN,Shopping centre,Division composite,"Index, 2017=100",373,units,0,v1478312520,1.11.1,35.9,NaN,NaN,NaN,1

In [435]:
Building_con_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137304 entries, 0 to 137303
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   REF_DATE          137304 non-null  object
 1   GEO               137304 non-null  object
 2   DGUID             125384 non-null  object
 3   Type of building  137304 non-null  object
 4   Division          137304 non-null  object
 5   UOM               137304 non-null  object
 6   UOM_ID            137304 non-null  int64
 7   SCALAR_FACTOR     137304 non-null  object
 8   SCALAR_ID         137304 non-null  int64
 9   VECTOR            137304 non-null  object
 10  COORDINATE        137304 non-null  object
 11  VALUE             137304 non-null  float64
 12  STATUS            0 non-null       float64
 13  SYMBOL            0 non-null       float64
 14  TERMINATED        0 non-null       float64
 15  DECIMALS          137304 non-null  int64
dtypes: float64(4), int64(3), object(9)
memory usage: 16.8+ MB

In [436]:
Building_con_in["REF_DATE"] = pd.to_datetime(Building_con_in["REF_DATE"], format="%b-%y")

In [437]:
df= Building_con_in[["REF_DATE","GEO","Type of building","VALUE"]]

In [438]:
df.head()

,REF_DATE,GEO,Type of building,VALUE
0,1981-01-01,Eleven census metropolitan area composite,Non-residential buildings [622],34.5
1,1981-01-01,Eleven census metropolitan area composite,Commercial buildings [62212],35.8
2,1981-01-01,Eleven census metropolitan area composite,Office building,36.8
3,1981-01-01,Eleven census metropolitan area composite,Warehouse,34.3
4,1981-01-01,Eleven census metropolitan area composite,Shopping centre,35.9

Changing Eleven census metropolitan areas composite to Canada, this is an assumption on our side

In [439]:
df.loc[df['GEO'] == 'Eleven census metropolitan area composite', 'GEO'] = 'Canada'

In [440]:
df.head(10)

    REF_DATE                   GEO                 Type of building  VALUE
0 1981-01-01                Canada  Non-residential buildings [622]   34.5
1 1981-01-01                Canada     Commercial buildings [62212]   35.8
2 1981-01-01                Canada                  Office building   36.8
3 1981-01-01                Canada                        Warehouse   34.3
4 1981-01-01                Canada                  Shopping centre   35.9
5 1981-01-01                Canada     Industrial buildings [62211]   29.6
6 1981-01-01                Canada                          Factory   29.5
7 1981-01-01                Canada  Institutional buildings [62213]   34.6
8 1981-01-01                Canada                           School   34.6
9 1981-01-01  Halifax, Nova Scotia  Non-residential buildings [622]   43.2

In [441]:
duplicates = df.duplicated(subset=['REF_DATE', 'GEO', 'Type of building'], keep=False)
print(duplicates.sum())
# before we pivot type of building into columns, lets explore more

126000

In [442]:
df[duplicates]
# It appears the dropped column "division" is not unique across each row, which is specifies the type of building construction price,
# We would  aggregate the values to the "mean" since there are duplicate values

,REF_DATE,GEO,Type of building,VALUE
11304,2017-01-01,Canada,Residential buildings [621],97.3
11305,2017-01-01,Canada,Residential buildings [621],97.9
11306,2017-01-01,Canada,Residential buildings [621],98.6
11307,2017-01-01,Canada,Residential buildings [621],97.5
11308,2017-01-01,Canada,Residential buildings [621],97.0
...,...,...,...,...
137299,2024-04-01,"Vancouver, British Columbia",School,118.7
137300,2024-04-01,"Vancouver, British Columbia",School,113.0
137301,2024-04-01,"Vancouver, British Columbia",School,124.0
137302,2024-04-01,"Vancouver, British Columbia",School,121.2
137303,2024-04-01,"Vancouver, British Columbia",School,149.9

In [443]:
df = df.pivot_table(index=['REF_DATE', 'GEO'], columns='Type of building', values='VALUE', aggfunc='mean')

In [444]:
df.reset_index(inplace=True)
df

Type of building,REF_DATE,GEO,Apartment buildings,Bus depot with maintenance and repair facilities,Commercial buildings [62212],Factory,High-rise apartment building (five or more storeys),Industrial buildings [62211],Institutional buildings [62213],Low-rise apartment building (fewer than five storeys),Non-residential buildings [622],Office building,Residential buildings [621],School,Shopping centre,Single-detached house,Townhouse,Warehouse
0,1981-01-01,"Calgary, Alberta",NaN,NaN,39.000000,37.500000,NaN,37.300000,36.100000,NaN,38.300000,39.100000,NaN,36.100000,37.700,NaN,NaN,41.80
1,1981-01-01,Canada,NaN,NaN,35.800000,29.500000,NaN,29.600000,34.600000,NaN,34.500000,36.800000,NaN,34.600000,35.900,NaN,NaN,34.30
2,1981-01-01,"Edmonton, Alberta",NaN,NaN,41.100000,38.300000,NaN,38.100000,38.200000,NaN,39.400000,40.100000,NaN,38.200000,39.300,NaN,NaN,43.30
3,1981-01-01,"Halifax, Nova Scotia",NaN,NaN,44.700000,38.900000,NaN,38.900000,41.800000,NaN,43.200000,44.600000,NaN,41.800000,41.700,NaN,NaN,45.30
4,1981-01-01,"Montréal, Quebec",NaN,NaN,36.700000,33.100000,NaN,33.100000,35.100000,NaN,35.800000,35.100000,NaN,35.100000,37.200,NaN,NaN,37.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,2024-04-01,"Saskatoon, Saskatchewan",131.166667,137.368182,136.191304,134.266667,134.243478,135.163636,135.273913,132.165217,135.626087,137.282609,131.016667,135.273913,136.205,136.577778,136.050000,130.56
1508,2024-04-01,"St. John's, Newfoundland and Labrador",135.883333,132.804545,130.108696,129.914286,137.365217,129.640909,131.295652,135.604348,128.686957,132.017391,136.262500,131.295652,129.920,142.444444,141.494444,127.91
1509,2024-04-01,"Toronto, Ontario",176.808333,162.036364,163.521739,156.033333,174.156522,157.727273,163.843478,178.226087,161.243478,164.482609,178.691667,163.843478,161.890,188.133333,187.005556,156.66
1510,2024-04-01,"Vancouver, British Columbia",151.504167,143.745455,145.469565,140.942857,150.352174,141.700000,142.721739,150.821739,144.126087,145.195652,151.983333,142.721739,145.700,156.983333,156.055556,140.07
1511,2024-04-01,"Winnipeg, Manitoba",132.891667,134.027273,133.678261,132.290476,132.834783,131.981818,133.234783,133.373913,132.969565,134.839130,133.979167,133.234783,134.315,140.022222,139.294444,129.46

In [445]:
df.columns.name= None

In [446]:
df.rename(columns={'Apartment buildings': 'Apartment buildings BCPI', "Factory": "Factory BCPI", "Institutional buildings [62213]": "Institutional buildings [62213] BCPI", "Residential buildings [621]": "Residential buildings [621] BCPI", "School": "School BCPI", "Single-detached house": "Single-detached house BCPI", "Townhouse": "Townhouse BCPI", "Warehouse": "Warehouse BCPI"}, inplace=True)

In [447]:
df=df[["REF_DATE","GEO","Apartment buildings BCPI","Factory BCPI","Institutional buildings [62213] BCPI","Residential buildings [621] BCPI","School BCPI","Single-detached house BCPI","Townhouse BCPI","Warehouse BCPI"]]

In [ ]:
df

Reading in NHPI csv

In [449]:
NHPI = pd.read_csv('NHPI.csv')

In [450]:
NHPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63480 entries, 0 to 63479
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   REF_DATE                   63480 non-null  object
 1   GEO                        63480 non-null  object
 2   DGUID                      61893 non-null  object
 3   New housing price indexes  63480 non-null  object
 4   UOM                        63480 non-null  object
 5   UOM_ID                     63480 non-null  int64
 6   SCALAR_FACTOR              63480 non-null  object
 7   SCALAR_ID                  63480 non-null  int64
 8   VECTOR                     63480 non-null  object
 9   COORDINATE                 63480 non-null  float64
 10  VALUE                      52654 non-null  float64
 11  STATUS                     28652 non-null  object
 12  SYMBOL                     0 non-null      float64
 13  TERMINATED                 0 non-null      float64
 14  DECIMALS                   63480 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 7.3+ MB

In [451]:
NHPI["REF_DATE"] = pd.to_datetime(NHPI["REF_DATE"], format="%b-%y")

In [452]:
df_2= NHPI[["REF_DATE","GEO","New housing price indexes","VALUE"]]

In [453]:
df_2.head()

    REF_DATE              GEO New housing price indexes  VALUE
0 1981-01-01           Canada    Total (house and land)   38.2
1 1981-01-01           Canada                House only   36.1
2 1981-01-01           Canada                 Land only   40.6
3 1981-01-01  Atlantic Region    Total (house and land)    NaN
4 1981-01-01  Atlantic Region                House only    NaN

In [454]:
df_2

        REF_DATE                          GEO New housing price indexes  VALUE
0     1981-01-01                       Canada    Total (house and land)   38.2
1     1981-01-01                       Canada                House only   36.1
2     1981-01-01                       Canada                 Land only   40.6
3     1981-01-01              Atlantic Region    Total (house and land)    NaN
4     1981-01-01              Atlantic Region                House only    NaN
...          ...                          ...                       ...    ...
63475 2025-01-01  Vancouver, British Columbia                House only  125.4
63476 2025-01-01  Vancouver, British Columbia                 Land only  123.8
63477 2025-01-01   Victoria, British Columbia    Total (house and land)  119.1
63478 2025-01-01   Victoria, British Columbia                House only  122.6
63479 2025-01-01   Victoria, British Columbia                 Land only  111.6

[63480 rows x 4 columns]

In [455]:
df_2= df_2.pivot(index=['REF_DATE', 'GEO'], columns="New housing price indexes", values='VALUE')

In [456]:
df_2.reset_index(inplace=True)

In [457]:
df_2.columns.name = None

In [458]:
df_2.rename(columns={'House only': 'House only NHPI', 'Land only': 'Land only NHPI', 'Total (house and land)': 'Total (house and land) NHPI'}, inplace=True)
# renaming each column to make sure we identify the NHPI later when merges happen

In [459]:
df_2.shape

(21160, 5)